name: Build and Push Docker Images

on:
  push:
    branches:
      - main
    paths:
      - 'dockerfiles/**'
      - '.github/workflows/**'
      - 'docker-bake.hcl'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: gitea-runner

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=sha,prefix=

      - name: Build
        uses: docker/bake-action@v6
        with:
          files: |
            ./docker-bake.hcl
          targets: |
            node22-docker
            node22-maven-jdk8
            node22-maven-jdk17
            node22-maven-jdk21
        env:
          DOCKER_METADATA_TAGS: ${{ steps.meta.outputs.tags }}
          DOCKER_METADATA_LABELS: ${{ steps.meta.outputs.labels }}